@media (min-width: 768px) and (max-width: 1000px) {
/*----------------general----------------*/
    /*----------------first page----------------*/

    .setence {
        padding-top: 40px;
        padding-left: 40px;
        max-width: 60%;

        background-color: rgb(255, 255, 255);
        font-size: 45px;
        line-height: 90px;
    }

    .scheduling {
        width: 100%;
    }
    
    .scheduling> a {
        width: 250px;
        font-size: 23px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .scheduling> a:hover {
        width: 270px;
        font-size: 25px;
    }

    .example {
        position: absolute;
        width: 45%;
        top: 120px;
        left: 50%;
    }
    
    #exampleimg {
        min-height: 317px;
        min-width: 418px;
        max-width: 517px;
        max-height: 618px;

        border: solid 5px rgb(240, 238, 238);
    }

     /*----------------about----------------*/

    #about {
        font-size: 17px;
        height: auto;
    }
    
    #imgsalon {
        padding-left: 15px;
        padding-right: 15px;
        width: 50%;

        text-align: center;
    }
    
    #imgsalon img {
        max-width: 338px;
        max-height: 259px;
    }
    
    .about-text {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /*----------------salao----------------*/

    #salao {
        height: auto;
    }

    #pictures {
        padding-bottom: 80px;
    }
    

    #pictures img {
        height: 250px;
        width: 150px;

        border: solid 3px rgb(255, 255, 255);
    }


    /*----------------services----------------*/    

    #services {
        height: auto;
    }

    #services-space > div {
        margin: 30px;
        width: 200px;
    }

    #services img {
        width: 200px;
        height: 200px;
    }
    
}